@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
    background: url(/static/imgs/tv.png) center;
}
.shad{
    box-shadow: 5px 8px 15px 5px #050505 ; /*derecha, abajo, blur, size- inset->innershadow  */
}
.txt-shadow{
    text-shadow: 4px 2px  #000000;    
}

.bgd{
    background-color: #43515a;
}