{% extends "base.html" %}

<title>{% block title %}Add New{% endblock %}</title>

{% block content%} 

<div class="row">    
    <h1 class="text-center ">Edit Show</h1>
    <div class="col-6 offset-3">
        <a href="/shows" role="button" class="btn btn-secondary offset-10">Go Back</a>
     
        <form action="update" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{title}}">
            </div>
            <div class="mb-3">
                <label for="network" class="form-label">Network</label>
                <input type="text" class="form-control" id="network" name="network" value="{{network}}">
            </div>
            <div class="mb-3">
                <label for="release" class="form-label">Release Date</label>
                <input type="date" class="form-control" id="release" name="release" value="{{release}}">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3">{{description}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-1">Update</button>
        </form>
        <a href="/shows/create/{{id}}" role="button" class="btn btn-success mb-3">Go to Show</a>
    </div>    
</div>

{% endblock %}