{% extends "base.html" %}

<title>{% block title %}Add New{% endblock %}</title>

{% block content%} 
<div class="row">  
    <h1 class="text-center col-6 offset-3 bg-light p-2 mb-0">Add a New Show</h1>    
    <div class="col-6 offset-3 bg-light p-4">  
        <form action="add" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class=" mb-3">
                <label for="release" class="form-label">Select a Network</label>  
                <select class="form-select" aria-label="Default select example" name="network" required>                
                    {% for net in allNetworks %}
                        <option value="{{net.id}}">{{net.name}}</option>
                    {% endfor %}
                </select>
            </div>            
            <div class="mb-3">
                <label for="release" class="form-label">Release Date</label>
                <input type="date" class="form-control" id="release" name="release" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-info text-white">Create</button>
            <a href="/shows" role="button" class="btn btn-secondary">Go Back</a>
        </form>
    </div>    
</div>

{% endblock %}