{% extends "base.html" %}

<title>{% block title %}Show Added{% endblock %}</title>

{% block content%} 
<div class="container">
    <div class="row">        
        <div class="col-6 offset-3 p-5 bg-light shad">            
            <h4>Show Id: {{id}}</h4>
            <h3 class="fw-bold">Title: {{title}}</h3>
            <h4>Network: {{network}}</h4>
            <h4>Release Date: {{release}}</h4>
            <p><strong>Description: {{description}}</strong> </p>
            <hr>
            <p><strong>Last Updated: {{updated}}</strong> </p>
            <div>
                <a href="/shows/{{id}}/edit" role="button" class="btn btn-info text-white">Edit</a> 
                <a href="/shows/{{id}}/destroy" role="button" class="btn btn-danger">Delete</a>
                <a href="/shows" role="button" class="btn btn-secondary">Go Back</a>
            </div>
        </div>            
    </div>
</div>

{% endblock %}